<div class="tmp-boxes">
    <div class="tmp-box" width="40%">
        <div>
            <button class="btn">Default</button>
            <button class="btn btn-primary">Primary</button>
            <button class="btn btn-success">Success</button>
            <button class="btn btn-warning">Warning</button>
            <button class="btn btn-danger">Danger</button>
            <button class="btn btn-link">Link</button>
            <button class="btn btn-transparent">Transparent</button>
        </div>
        <br>
        <div>
            <button class="btn" disabled>Default</button>
            <button class="btn btn-primary" disabled>Primary</button>
            <button class="btn btn-success" disabled>Success</button>
            <button class="btn btn-warning" disabled>Warning</button>
            <button class="btn btn-danger" disabled>Danger</button>
            <button class="btn btn-link" disabled>Link</button>
            <button class="btn btn-transparent" disabled>Transparent</button>
        </div>
    </div>
    <div class="tmp-box" width="40%">
        <button class="btn btn-xxl">Button</button>
        <button class="btn btn-xl">Button</button>
        <button class="btn btn-l">Button</button>
        <button class="btn btn-m">Button</button>
        <button class="btn btn-s">Button</button>
    </div>
</div>