<div class="tmp-boxes">
    <div class="tmp-box" width="50%">
        <form class="form" style="width:600px">
            <div class="form-legend">Legend</div>
            <div class="form-row">
                <div class="form-col-left">
                    <label class="form-label">Email</label>
                </div>
                <div class="form-col-right">
                    <input class="form-element tmp-w300" type="text" placeholder="Email">
                </div>
            </div>
            <div class="form-row">
                <div class="form-col-left">
                    <label class="form-label">Password</label>
                </div>
                <div class="form-col-right">
                    <input class="form-element tmp-w300" type="password" placeholder="Password">
                </div>
            </div>
            <div class="form-row">
                <div class="form-col-left">
                    <label class="form-label">Checkbox</label>
                </div>
                <div class="form-col-right">
                    <div class="form-check-group">
                        <label class="form-label-check"><input type="checkbox" class="form-element"> Yes?</label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-col-left">
                    <label class="form-label">Textarea</label>
                </div>
                <div class="form-col-right">
                    <textarea class="form-element tmp-w300" rows="3"></textarea>
                    <small class="text-danger display-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</small>
                </div>
            </div>
            <div class="form-row">
                <div class="form-col-left">
                    <label class="form-label">Radios</label>
                </div>
                <div class="form-col-right">
                    <div class="form-check-group">
                        <div><label class="form-label-check"><input type="radio" name="radio" value="1" class="form-element" checked> Option one is this</label></div>
                        <div><label class="form-label-check"><input type="radio" name="radio" value="2" class="form-element">Option two can be something else</label></div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-col-left">
                    <label class="form-label">Selects</label>
                </div>
                <div class="form-col-right">
                    <select class="form-element tmp-w300">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                    <br>
                    <select class="form-element tmp-w300" multiple>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
            <div class="form-row form-submit">
                <div class="form-col-left"></div>
                <div class="form-col-right">
                    <button class="btn btn-primary" type="submit">Submit</button>
                    <button class="btn btn-transparent" cancel>Cancel</button>
                </div>
            </div>
        </form>
    </div>

    <!---->

    <div class="tmp-box" width="30%">
        <form class="form">
            <div class="form-row">
                <p>Focused input</p>
                <input class="form-element tmp-w300" type="text" value="This is focused...">
            </div>
            <div class="form-row">
                <p>Disabled input</p>
                <input class="form-element tmp-w300" type="text" placeholder="Disabled input here..." disabled>
            </div>
            <div class="form-row form-row-success">
                <p class="form-flash-message">Input success</p>
                <input class="form-element tmp-w300" type="text">
            </div>
            <div class="form-row form-row-warning">
                <p class="form-flash-message">Input warning</p>
                <input class="form-element tmp-w300" type="text">
            </div>
            <div class="form-row form-row-error">
                <p class="form-flash-message">Input error</p>
                <input class="form-element tmp-w300" type="text">
            </div>
            <div class="form-row">
                <p>Large input</p>
                <input class="form-element tmp-w300 form-element-large" type="text">
            </div>
            <div class="form-row">
                <p>Default input</p>
                <input type="text" class="form-element tmp-w300">
            </div>
            <div class="form-row">
                <p>Small input</p>
                <input class="form-element tmp-w300 form-element-small" type="text">
            </div>
        </form>
    </div>
</div>