<div class="navbar fixed">
    <ul class="navbar-menu navbar-menu-left fixed">
        <li><a href="?" class="active">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li class="navbar-menu-dropdown">
            <a href="#" role="toggle">Services <i class="arrow-down"></i></a>
            <ul class="navbar-menu-dropdown-menu dropdown">
                <li><a href="#1">Web Design</a></li>
                <li><a href="#2">Web Hosting</a></li>
                <li class="dropdown-line"></li>
                <li class="dropdown-head">Other Services</li>
                <li><a href="#3">Service 1</a></li>
                <li><a href="#4">Service 2</a></li>
                <li><a href="#5">Service 3</a></li>
            </ul>
        </li>
    </ul>

    <ul class="navbar-menu navbar-menu-right">
        <li><a href="#">Account</a></li>
        <li class="navbar-menu-dropdown">
            <a href="#" role="toggle">Setting <i class="arrow-down"></i></a>
            <ul class="navbar-menu-dropdown-menu dropdown">
                <li><a href="#">Setting 1</a></li>
                <li><a href="#">Setting 2</a></li>
                <li class="navbar-menu-dropdown-line"></li>
                <li><a href="#log-out">Log out</a></li>
            </ul>
        </li>
    </ul>
</div>