<table width="100%" class="table table-colorfull">
    <tr>
        <th width="50">#</th>
        <th>Name</th>
        <th>Price</th>
    </tr>
    <tr class="odd">
        <td>1</td>
        <td>The Foo</td>
        <td>$1.90</td>
    </tr>
    <tr class="even">
        <td>2</td>
        <td>The Bar</td>
        <td>$2.75</td>
    </tr>
    <tr class="primary">
        <td>3</td>
        <td>Test test</td>
        <td>$2.75</td>
    </tr>
    <tr class="success">
        <td>4</td>
        <td>Test test</td>
        <td>$2.75</td>
    </tr>
    <tr class="warning">
        <td>5</td>
        <td>Test test</td>
        <td>$2.75</td>
    </tr>
    <tr class="danger">
        <td>6</td>
        <td>Test test</td>
        <td>$2.75</td>
    </tr>
    <tr>
        <td>7</td>
        <td>Test test</td>
        <td>$2.75</td>
    </tr>
</table>

<br>

<table width="100%" class="table table-colorfull">
    <tr>
        <th width="50">#</th>
        <th>Name</th>
        <th>Price</th>
    </tr>
    <tr class="odd disabled">
        <td>1</td>
        <td>The Foo</td>
        <td>$1.90</td>
    </tr>
    <tr class="even disabled">
        <td>2</td>
        <td>The Bar</td>
        <td>$2.75</td>
    </tr>
    <tr class="primary disabled">
        <td>3</td>
        <td>Test test</td>
        <td>$2.75</td>
    </tr>
    <tr class="success disabled">
        <td>4</td>
        <td>Test test</td>
        <td>$2.75</td>
    </tr>
    <tr class="warning disabled">
        <td>5</td>
        <td>Test test</td>
        <td>$2.75</td>
    </tr>
    <tr class="danger disabled">
        <td>6</td>
        <td>Test test</td>
        <td>$2.75</td>
    </tr>
    <tr class="text-gray">
        <td>7</td>
        <td>Test test</td>
        <td>$2.75</td>
    </tr>
</table>