.intro {
    background: #f7f7f7;
    padding: 50px;
    border-radius: 9px;
    font-size: 150%;
    line-height: 150%;
}
.intro > h1 {
    margin-top: 0;
    font-size: 200%;
}
.intro > p {
    margin-bottom: 22px;
}

/*** list ***/
.list {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}
.list > .list-item {
    width: 100%;
    padding: 9px 16px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border-bottom: 1px solid #e0e0e0;
} .list > .list-item:last-child {
    border-bottom: 0;
}
.list > a.list-item { text-decoration: none; }
.list > a.list-item:hover,
.list > a.list-item.active {
    background: #f7f7f7;
}
.list > .list-item > * {
    color: #454545;
}
/* .list > .list-item > p {color: red; } e.g... */

.list > .list-item .bubble {
    position: absolute;
    right: 16px;
}

/*** box ***/
.box {
    width: 100%;
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 16px;
    background: #fff;
    border: 1px solid #e0e0e0;
    position: relative;
}
.box > .box-body,
.box > .box-head,
.box > .box-foot {padding: 18px;}

.box > .box-head {
    padding: 20px 18px;
    background: #fbfbfb;
    border-bottom: 1px solid #e0e0e0;
}
.box > .box-foot {
    padding: 12px 18px;
    background: #fbfbfb;
    border-top: 1px solid #e0e0e0;
}

.box > .box-head h1,
.box > .box-head h2,
.box > .box-head h3,
.box > .box-head h4,
.box > .box-head h5,
.box > .box-head h6 {
    font-size: 100%;
    font-weight: bold;
    margin: 0
}

.box.box-primary {border-color: #40b3d9}
.box.box-success {border-color: #b3d940}
.box.box-warning {border-color: #ffd940}
.box.box-danger  {border-color: #e74c3c}

.box.box-primary > .box-head {background: #40b3d9}
.box.box-success > .box-head {background: #b3d940}
.box.box-warning > .box-head {background: #ffd940}
.box.box-danger  > .box-head {background: #e74c3c}

.box.box-primary > .box-foot {background: #eff5f7; border-color: inherit}
.box.box-success > .box-foot {background: #f0f7d9; border-color: inherit}
.box.box-warning > .box-foot {background: #fcf8ea; border-color: inherit}
.box.box-danger  > .box-foot {background: #f9f3f2; border-color: inherit}

.box > a.toggle {
    font-size: 90%;
}

.box > .box-body,
.box > .box-foot {
    /*-webkit-transition: height 350ms easy-out;
            transition: height 350ms ease-out;*/
}
.box.box-toggle > .box-body,
.box.box-toggle > .box-foot {
    /*display: none;*/
}