.nav {
    margin-bottom: 12px;
}
.nav a {
    text-decoration: none;
}
.nav > li {
    white-space: nowrap;
}

/* tabs:normal */
.nav-tabs {
    border-bottom: 1px solid #e0e0e0;
}
.nav-tabs > li {
    float: left;
}
.nav-tabs > li > a {
    margin-right: 3px;
    padding: 9px 22px;
    margin-bottom: -1px;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
    background: #f7f7f7;
    border-bottom: 1px solid #e0e0e0;
}
.nav-tabs > li > a.active {
    background: #fff;
    border: 1px solid #e0e0e0;
    border-bottom: 1px solid #fff;
}

.nav-tabs > li > a[disabled] {
    color: #999;
    cursor: default;
} .nav-tabs > li > a[disabled]:hover {
    background: none;
    border-color: #e0e0e0;
}

.nav-tabs-dropdown {
    position: relative;
}
.nav-tabs-dropdown * {
    font-size: 95%;
    line-height: inherit;
}
.nav-tabs-dropdown > .nav-tabs-dropdown-tabs {
    border-color: #e0e0e0;
    box-shadow: none;
    border-top-right-radius: 4px;
}
.nav-tabs-dropdown > .nav-tabs-dropdown-tabs > li > a {
    display: block;
    padding: 3px 22px 3px 22px;
}
.nav-tabs-dropdown > .nav-tabs-dropdown-tabs > li > a:hover {
    background: #f3f3f3;
}
.nav-tabs-dropdown > .nav-tabs-dropdown-tabs > .dropdown-line {
    width: 90%;
    height: 1px;
    margin: 4px auto;
    border-top: 1px dotted #e0e0e0;
}
.nav-tabs-dropdown > .nav-tabs-dropdown-tabs > .dropdown-head {
    color: #676767;
    font-size: 90%;
    font-weight: bold;
    padding: 0 22px;
}

/* tabs:horizontal & vertical */
/* tabs:vertical */
.nav-tabs-horizontal,
.nav-tabs-vertical {
    border-bottom: 0;
}
.nav-tabs-horizontal > li {
    float: left;
}
.nav-tabs-horizontal > li > a,
.nav-tabs-vertical > li > a {
    border-radius: 4px;
}
.nav-tabs-horizontal > li > a:hover,
.nav-tabs-vertical > li > a:hover {
    border-color: transparent;
}
.nav-tabs-horizontal > li > a.active,
.nav-tabs-vertical > li > a.active {
    border-color: #e0e0e0 !important;
}
.nav-tabs-horizontal > .nav-tabs-dropdown > .dropdown,
.nav-tabs-vertical > .nav-tabs-dropdown > .dropdown {
    margin-top: 3px;
    border-radius: 4px;
}

.nav-tabs-vertical > li {
    float: none;
    margin-bottom: 3px;
}
.nav-tabs-vertical > li > a {
    width: 100%;
}
.nav-tabs-vertical > .nav-tabs-dropdown > .dropdown {
    min-width:100%;
}

/* pager */
.pager {}
.pager > li {
    float: left;
}
.pager > li > a {
    font-size: 100%;
    line-height: 100%;
    padding: 16px 22px;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #e0e0e0;
    margin-right: -1px;
}
.pager > li:first-child > a {
    border-radius: 4px 0 0 4px;
}
.pager > li:last-child > a {
    border-radius: 0 4px 4px 0;
}
.pager > li > a:hover,
.pager > li > a.active,
.pager > li > a.disabled {
    background: #f7f7f7;
}
.pager > li > a.active,
.pager > li > a.disabled {
    color: #656565;
}
.pager > li > a.disabled {
    opacity: 0.5;
    cursor: default;
    background: #f7f7f7;
}

.pager.pager-large > li > a {
    font-size: 120%;
    line-height: 120%;
    padding: 26px 32px;
}

.pager.pager-small > li > a {
    font-size: 80%;
    line-height: 80%;
    padding: 8px 12px;
}