.table {
    max-width: 100%;
    background-color: transparent;
}

.table-colorfull tr.disabled * {
    opacity: 0.65; alpha(opacity=65);
}
.table-colorfull tr.odd td {
    background-color: #fff;
}
.table-colorfull tr.odd.disabled:hover td {
    background-color: #fff;
}
.table-colorfull tr.even td {
    background-color: #f5f5f5;
}
.table-colorfull tr.even.disabled:hover td {
    background-color: #f5f5f5;
}

.table-colorfull tr.odd:hover td,
.table-colorfull tr.even:hover td {
    background-color: #f0f0f0;
}
.table-colorfull tr.primary td {
    background-color: #40b3d9;
}
.table-colorfull tr.primary:hover td {
    background-color: #3aa8c9;
}
.table-colorfull tr.primary.disabled:hover td {
    background-color: #40b3d9;
}

.table-colorfull tr.success td {
    background-color: #b3d940;
}
.table-colorfull tr.success:hover td {
    background-color: #a8c93a;
}
.table-colorfull tr.success.disabled:hover td {
    background-color: #b3d940;
}

.table-colorfull tr.warning td {
    background-color: #ffd940;
}
.table-colorfull tr.warning:hover td {
    background-color: #f2cd3c;
}
.table-colorfull tr.warning.disabled:hover td {
    background-color: #ffd940;
}

.table-colorfull tr.danger td {
    background-color: #e74c3c;
}
.table-colorfull tr.danger:hover td {
    background-color: #cd2a19;
}
.table-colorfull tr.danger.disabled:hover td {
    background-color: #e74c3c;
}

