<div class="tmp-boxes">
    <div class="tmp-box" width="40%">
        <ul class="nav nav-tabs fixed" width="100%" id="navTabsToggle">
            <li><a href="#tab1" class="active">Home</a></li>
            <li><a href="#tab2">About <span class="bubble">32</span></a></li>
            <li><a href="#tab3" disabled>Disabled</a></li>
            <li class="nav-tabs-dropdown">
                <a href="#" role="toggle">Services <i class="arrow-down"></i></a>
                <ul class="nav nav-tabs-dropdown-tabs dropdown">
                    <li><a href="#drop1">Drop 1</a></li>
                    <li><a href="#drop2">Drop 2</a></li>
                    <li class="dropdown-line"></li>
                    <li class="dropdown-head">Another Drop</li>
                    <li><a href="#drop3">Drop 3</a></li>
                </ul>
            </li>
        </ul>

        <div id="navTabs">
            <div id="tab1">#tab 1 contents here...</div>
            <div id="tab2">#tab 2 contents here...</div>
            <div id="tab3">#tab 3 contents here...</div>
            <div id="drop1">#drop1 contents here...</div>
            <div id="drop2">#drop2 contents here...</div>
            <div id="drop3">#drop3 contents here...</div>
        </div>
    </div>

    <div class="tmp-box" width="50%" style="padding-left:100px">
        <h5 style="margin-top:-30px">Horizontal</h5>
        <ul class="nav nav-tabs nav-tabs-horizontal fixed" width="100%">
            <li><a href="#" class="active">Home</a></li>
            <li><a href="#">About <span class="bubble">32</span></a></li>
            <li><a href="#" disabled>Disabled</a></li>
            <li class="nav-tabs-dropdown">
                <a href="#" role="toggle">Services <i class="arrow-down"></i></a>
                <ul class="nav nav-tabs-dropdown-tabs dropdown">
                    <li><a href="#">Drop 1</a></li>
                    <li><a href="#">Drop 2</a></li>
                    <li class="dropdown-line"></li>
                    <li class="dropdown-head">Another Drop</li>
                    <li><a href="#">Drop 3</a></li>
                </ul>
            </li>
        </ul>
        <h5 style="margin-top:30px">Vertical</h5>
        <ul class="nav nav-tabs nav-tabs-vertical fixed" width="100%">
            <li><a href="#" class="active">Home</a></li>
            <li><a href="#">About <span class="bubble">32</span></a></li>
            <li><a href="#" disabled>Disabled</a></li>
            <li class="nav-tabs-dropdown">
                <a href="#" role="toggle">Services <i class="arrow-down"></i></a>
                <ul class="nav nav-tabs-dropdown-tabs dropdown">
                    <li><a href="#">Drop 1</a></li>
                    <li><a href="#">Drop 2</a></li>
                    <li class="dropdown-line"></li>
                    <li class="dropdown-head">Another Drop</li>
                    <li><a href="#">Drop 3</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="tmp-boxes">
    <div class="tmp-box" width="100%">
        <h5>Pager</h5>
        <ul class="pager pager-large fixed">
            <li><a href="#" class="first disabled" disabled>&laquo;</a></li>
            <li><a href="#" class="active">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#" class="last">&raquo;</a></li>
        </ul>
        <br>
        <ul class="pager fixed">
            <li><a href="#" class="first disabled" disabled>&laquo;</a></li>
            <li><a href="#" class="active">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#" class="last">&raquo;</a></li>
        </ul>
        <br>
        <ul class="pager pager-small fixed">
            <li><a href="#" class="first disabled" disabled>&laquo;</a></li>
            <li><a href="#" class="active">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#" class="last">&raquo;</a></li>
        </ul>
    </div>
</div>

<script>
mii.onReady(function($){
    $.dom("#navTabsToggle a").on("click", function(e){
        e.preventDefault();

        var $el = $.dom(this);
        if ($el.hasAttr("disabled")) {
            return;
        }

        var $id = $el.getAttr("href");
        if ($id && $id !== "#") {
            $.dom("#navTabsToggle a").removeClass("active");
            $.dom("#navTabs div").hide("fast", function(el){
                $.dom($id).show("fast");
            });
            var $parent = $el.parent().parent();
            if ($parent.hasClass("dropdown")) {
                setTimeout(function(){
                   $parent.prev().addClass("active");
                }, 1);
            } else {
                $el.addClass("active");
            }
        }
    });
});
</script>
